:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

@font-face {
  font-family: "light";
  src: url(./Poppins-Thin.woff2);
}

@font-face {
  font-family: "regular";
  src: url(./Poppins-Regular.woff2);
}

@font-face {
  font-family: "bold";
  src: url(./Poppins-SemiBold.woff2);
}

body {
  background-color: var(--light-gray);
}

main {
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 5rem 2rem 2rem;
}

.head {
  margin: 0 auto;
  max-width: 34rem;
  text-align: center;
  animation: updown 1000ms;
}

.head__header {
  font-family: "light";
  color: var(--dark-blue);
  font-size: 2rem;
}

.head__title {
  font-family: "bold";
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.head__paragraph {
  font-family: "regular";
  color: var(--grayish-blue);
}

.card-section {
  max-width: 68rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 22rem));
  grid-template-rows: repeat(4, 7.2rem);
  gap: 2rem;
  animation: downup 1000ms;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 10px rgb(225, 224, 224);
}

.card-green {
  grid-column: 1;
  grid-row: 2 / span 2;
  border-top: 0.25rem solid var(--cyan);
}

.card-red {
  grid-column: 2;
  grid-row: 1 / span 2;
  border-top: 0.25rem solid var(--red);
}

.card-orange {
  grid-column: 2;
  grid-row: 3 / span 2;
  border-top: 0.25rem solid var(--orange);
}

.card-blue {
  grid-column: 3;
  grid-row: 2 / span 2;
  border-top: 0.25rem solid var(--blue);
}

.card__title {
  color: var(--dark-blue);
  font-family: "bold";
  font-size: 1.2rem;
}

.card__text {
  color: var(--grayish-blue);
  font-family: "regular";
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.card__image {
  align-self: flex-end;
  margin-top: auto;
}

@media (max-width: 1100px) {
  .head__header {
    font-size: 1.8rem;
  }

  .head__title {
    font-size: 2.2rem;
  }

  .card-section {
    max-width: 41.5rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(18rem, 20rem));
    grid-template-rows: repeat(2, 14.4rem);
    gap: 1.5rem;
    animation: unset;
  }

  .card {
    padding: 1.5rem;
  }

  .card-green {
    grid-column: 1;
    grid-row: 1;
    animation: leftright 800ms;
  }

  .card-red {
    grid-column: 2;
    grid-row: 1;
    animation: rightleft 800ms;
  }

  .card-orange {
    grid-column: 1;
    grid-row: 2;
    animation: leftright 800ms;
  }

  .card-blue {
    grid-column: 2;
    grid-row: 2;
    animation: rightleft 800ms;
  }

  .card__title {
    color: var(--dark-blue);
    font-family: "bold";
    font-size: 1.1rem;
  }

  .card__text {
    color: var(--grayish-blue);
    font-family: "regular";
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
}

@media (max-width: 670px) {
  .card-section {
    max-width: 24rem;
    margin: 4rem auto;
    display: block;
  }

  .card {
    height: 14.4rem;
  }

  .card + .card {
    margin-top: 1.5rem;
  }

  .head__header {
    font-size: 1.5rem;
  }

  .head__title {
    font-size: 1.6rem;
  }
}

/* Animations */

@keyframes updown {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes downup {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes leftright {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes rightleft {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
